#f1 {
  width: 30%;

  margin-top:15%;
  margin-left:30%;
  border: 3px solid red;
  text-align:center;
  padding:10px;
}
.input{
  margin-bottom:30px;
  vertical-align:top;
}
#nav {
    padding:20px;
    height:20%;
    background-image:url('http://www.lamesakickboxing.com/wp-content/uploads/2013/11/nav-background.jpg');
}
a {
    color:white;
    font-weight:bold;

}

body{
    background-image:url('http://goldwallpapers.com/uploads/posts/website-background-wallpapers/website_background_wallpapers_016.jpg');
    font-family:sans-serif;
}
/* #signup  { display: table;      }
p     { display: table-row;  }
.signup_in { display: table-cell; } */
label {
    display: inline-block;
    width:100px;
    text-align: right;
}
