<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ style }}" media="screen" />
</head>

<body>
{% include 'nav.html' %}
<div>
<p> This is a simple tool to shorten your long links</p>
</div>
</body>
</html>

