<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="import" href="{{url_for('static',filename='nav.html')}}"> -->
    <!-- {% include 'nav.html' %} -->
    <link rel="stylesheet" type="text/css" href="{{ style }}" media="screen" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
{% include 'nav.html' %}
<div id="created_links">
{% if 'email' in session.keys():  %}
    Welcome {{ session['email'] }}
 {% endif %}
 <ul>
{% for url in urls %}
<li>{{ url.long_link }} </li>
{% endfor %}
</ul>
</div>
</body>
</html>