<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="import" href="{{url_for('static',filename='nav.html')}}"> -->
    <!-- {% include 'nav.html' %} -->
    <link rel="stylesheet" type="text/css" href="{{ style }}" media="screen" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
{% include 'nav.html' %}
<div id='page'>
    <div id="nav-placeholder">

    </div>
    
    <div id='f1'>
      <div class='input'>
          <form action="/" method="post">
                Link: <input type="text" name="link">
                 <input type='hidden' name="csrf_token" value={{ csrf_token() }}>
                <input type="submit" value="Submit">
          </form>
      </div>
      
      <div class='input'>{{ link }}</div>
    </div>
</div>
</body>
</html>

<!-- <script>
$(function(){
  $("#nav-placeholder").load("nav.html");
});
</script> -->