<div id='nav'>
<nav>
    <div> 
        <a href="/" class="here">Home</a>
        {{ login|safe }}
        {{ logout|safe }}
        {{ dashboard|safe }}
        <a href="/about" >About</a>  
        
        <form id="logout" action='/logout/' method='post'>
        <input type='hidden' name="csrf_token" value={{ csrf_token() }}>
        </form>
        
        <form id="dashboard" action='/dashboard/' method='post'>
        <input type='hidden' name="csrf_token" value={{ csrf_token() }}>
        </form>
    <div>
</nav>
</div>