<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="import" href="{{url_for('static',filename='nav.html')}}"> -->
    <link rel="stylesheet" type="text/css" href="{{ style }}" media="screen" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
{% include 'nav.html' %}
<div> Please Log in first to access dashboard or logout</div>
</body>
</html>