<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="import" href="{{url_for('static',filename='nav.html')}}"> -->
    <!-- {% include 'nav.html' %} -->
    <link rel="stylesheet" type="text/css" href="{{ style }}" media="screen" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
{% include 'nav.html' %}
<div id='page'>
    <div id='f1'>
      <div class='input'>
          <form action="/signup/" method="post" id='signup'>
                <!-- <label>Username:</label> <input type="text" name="user"/><br/> -->
                <p> <label class='signup_in'> Email:</label>   <input type="text" name="email"  class='signup_in'/></p>
                <p> <label class='signup_in'>Password:</label> <input type="password" name="pass"  class='signup_in'/></p>
                <p> <label class='signup_in'>RePassword:</label> <input type="password" name="repass"  class='signup_in'/></p>
                 <input type="submit" value="Sign up">
          </form>
      </div>
      
      <div class='input'>{{ link }}</div>
    </div>
</div>
</body>
</html>