<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="import" href="{{url_for('static',filename='nav.html')}}"> -->
    <!-- {% include 'nav.html' %} -->
    <link rel="stylesheet" type="text/css" href="{{ style }}" media="screen" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
{% include 'nav.html' %}
<div id='page'>
    <div id='f1'>
      <div class='input'>
          <form action="/signin/" method="post">
                Username: <input type="email" name="email" required/><br/>
                Password: <input type="password" name="pass" required/><br/>
                <input type="submit" value="Log in">
          </form>
          <form action="/signup/" method="get">
                <input type="submit" value="Sign up">
          </form>
      </div>
      
      <div class='input'>{{ link }}</div>
    </div>
</div>
</body>
</html>